.table-container {
    width: 70%;
    /* 表格宽度 */
    margin: 0 auto;
    /* 居中表格和操作面板 */
}

.expense-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.expense-table th {
    background-color: #f4f4f4;
    padding: 8px;
}

.expense-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-row {
    position: relative;
    /* 为每行启用定位 */
}

.row-actions {
    position: absolute;
    right: -120px;
    /* 控制按钮距右边的距离 */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
}

.add-row-button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.table-editable-cell {
    position: relative;
    right: -85px;
}
