// * {
//     margin: 0;
//     padding: 0;
// box-sizing: border-box;
// }

// body {
//     // background-color: aqua;
//     margin: 0;
// }

@ballSize: 20px;
@boxSize: 600px;
@ballNumber: 36;
@pdeg: 360deg / @ballNumber;
@animationTime: 2000ms;


.loading {
    // width: @boxSize;
    // height: @boxSize;
    // margin: 50px auto;
    // position: relative;
    border-radius: 50%;
    // outline: 5px solid #fff;  // 白色表示圈

    .dot {
        position: absolute;
        left: 50%;
        top: 50%;
        width: @ballSize;
        height: @ballSize;
        margin-left: -(@ballSize / 2);
        margin-top: -(@ballSize / 2);
        // background-color: red;  // 红色表示点
        perspective: 100px;
        transform-style: preserve-3d;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        &::before {
            background-color: rgb(0, 234, 255);
            top: -100%;
            animation: moveBlue @animationTime infinite;
        }

        &::after {
            background-color: rgb(255, 187, 0);
            top: 100%;
            animation: moveOrange @animationTime infinite;
        }
    }
}

@keyframes moveBlue {
    0% {
        animation-timing-function: ease-in;
    }

    25% {
        transform: translate3d(0, 100%, @ballSize);
        animation-timing-function: ease-out;
    }

    50% {
        transform: translate3d(0, 200%, 0);
        animation-timing-function: ease-in;
    }

    75% {
        transform: translate3d(0, 100%, -@ballSize);
        animation-timing-function: ease-out;
    }
}

@keyframes moveOrange {
    0% {
        animation-timing-function: ease-in;
    }

    25% {
        transform: translate3d(0, -100%, -@ballSize);
        animation-timing-function: ease-out;
    }

    50% {
        transform: translate3d(0, -200%, 0);
        animation-timing-function: ease-in;
    }

    75% {
        transform: translate3d(0, -100%, @ballSize);
        animation-timing-function: ease-out;
    }
}

.loop(@i) when(@i <=@ballNumber) {
    .dot:nth-child(@{i}) {
        transform: rotate(@pdeg * @i) translateY(-(@boxSize/2));

        &::before,
        &::after {
            animation-delay: -@animationTime / @ballNumber * 6 * @i;
        }
    }

    .loop(@i + 1);
}

.loop(1);
